* {
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
    color: #222222;
    font-family: Arial, sans-serif;
    margin: 2rem;
}

h1 {
    background-color: rgba(30, 100, 180, 0.8);
    color: white;
    padding: 1rem;
    border: 2px solid black
}

nav {
    margin-bottom: 2rem;
}

nav a {
    margin-right: 1rem;
    color: #1e64b4;
}

.karte {
    width: 20rem;
    padding: 1rem;
    border: 2px solid #1e64b4;
    background-color: white;
    margin-bottom: 2rem;
}

.karte h2 {
    margin-top: 0;
}

.karte img {
    max-width: 100%;
    height: auto;
}



nav a:hover {
    background-color: deepskyblue;
}

nav a {
    display: inline-block;
    padding: 10px 20px;
    background-color: lightblue;
    color: black;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 5px;
    margin-right: 10px;
}

textarea {
    font-weight: bold;
    padding-left: 5px;
}